<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8"/>
  <title>Mluvik add words</title>
  <link href="{% static "css/style.css" %}" rel="stylesheet"/>
</head>
<body class="wallpaper-image-theme">
  <h1>Add word to Mluvik</h1>
  <h2>Please input new word</h2>
  <h2>Please input translate word</h2>
  <form method="POST">
    {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input type="submit" value="Send" style="font-size: 36px"; position: absolute; left: 100px;>
</form>
</body>
</html>
