<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8"/>
  <title>Enter Mluvik</title>
  <link href="{% static "css\style.css" %}" rel="stylesheet"/>
</head>
<body class="wallpaper-image-theme">
  <h1 class="text-1-theme" style="left: 340px; right: 340px;">Enter to Mluvik</h1>
  <h2 class="text-2-theme" style="left: 10px; right: 1000px;">Enter your Login</h2>
  <h2 class="text-2-theme" style="left: 10px; right: 1000px; top: 60px;">Enter your password</h2>
  <form method="POST">
    {% csrf_token %}
  <table class="red-table" style="top: 125px">
    {{ form }}
  </table><br>
  <input type="submit" value="Send" class="green-button" style="font-size: 36px; position: absolute; left: 10px;
  right: 845px; top: 200px;">
  <button onclick="window.location.href='../'" type="button" class="button-exit">Exit</button>
</form>
</body>
</html>
