<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8"/>
  <title>Mluvik</title>
  <link href="{% static "css\style.css" %}" rel="stylesheet"/>
</head>
<body class="wallpaper-image-theme">
  <h1 class="text-1-theme">Welcome to Mluvik</h1>
  <h2 class="text-2-theme">WARNING</h2>
  <h3 class="text-3-theme">Данное веб-приложение создано не для изучения языка, а только для расширения словарного запаса</h3>
  <button onclick="window.location.href='enter_mluvik'" type="button">Enter Mluvik</button>
  <button onclick="window.location.href='registration_form'" type="button">Registration</button>
</body>
</html>
