<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8"/>
  <title>Mluvik</title>
  <link href="{% static "css\style.css" %}" rel="stylesheet"/>
</head>
<body class="wallpaper-image-theme">
  <h1 class="text-1-theme" style="left: 350px; right: 350px;">Welcome to Mluvik</h1>
  <h2 class="text-1-theme" style="left: 450px; right: 450px; top: 100px;">WARNING</h2>
  <h3 class="text-2-theme" style="left: 320px; right: 320px; 320px; top: 200px;">
    Данное веб-приложение создано не для изучения языка, а только для расширения словарного запаса</h3>
  <button onclick="window.location.href='enter_mluvik'" type="button" class="green-button">Enter Mluvik</button>
  <button onclick="window.location.href='registration_form'" type="button" class="red-button">Registration</button>
</body>
</html>
