<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8"/>
  <title>Settings Mluvik</title>
  <link href="{% static "css/style.css" %}" rel="stylesheet"/>
</head>
<body class="wallpaper-image-theme">
  <h1 class="text-3-theme" style="left: 380px; right: 380px;">What do you choise today?</h1>
  <h2 class="user-user">{{user_name}}</h2>
  <h2 class="user-experience">exp: {{experience}}</h2>
  <button onclick="window.location.href='../../{{ user_id }}/mluvik'" type="button" class="green-button"
  style="left: 380px; right: 620px; top: 70px;">GO</button>
  <button onclick="window.location.href='../../{{ user_id }}/add_word'" type="button" class="red-button"
  style="left: 520px; right: 380px; top: 70px;">Add New Word</button>
  <button onclick="window.location.href='../../'" type="button" class="button-exit">Exit</button>
</body>
</html>
